* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.text-uppercase {
	text-transform: uppercase;
}



nav {
	position: fixed;
	width: 100%;
	z-index: 10;
}

nav.white {
	background-color: white;
}

nav > * > * {
	margin: 10px;
}

nav menu {

}

nav img {
	 height: 50px;
}

nav a {
	text-decoration: none;
	color: white;
}

nav.white a {
	color: #333447;
}

.boton-login {
	background-color: transparent;
	color: white;
	border-radius: 5px;
	padding: 5px 10px;
	border-style: solid;
	border-color: white;
}

.boton-signup {
	background-color: transparent;
	color: #FF00BF;
	border-radius: 5px;
	padding: 5px 10px;
	border-style: solid;
	border-color: #FF00BF;

}

.flex-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

header {
	background-color: #180f2d;
	position: relative;
}

header video {
	background-color: #180f2d;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: auto;
	height: auto;
	max-width: 100%;
}

.header-text {
	width: 40%;
	margin-left: auto;
	margin-top: 100px;
	height: 400px;
	background-color: green;
	z-index: 2;
}


.info {
	background: linear-gradient(to bottom, rgba(101,14,130,0) 0px, rgba(101,14,130,1) 100px, rgba(45,31,106,1) 100%);
	margin-top: -100px;
	padding-top: 100px;
	z-index: 1;
	position: absolute;
	color: white;
}

.info > * {
	flex-direction: column;
	width: 50%;
	justify-content: flex-start;
	margin: 100px;
}

.info > * > p {
	margin: 10px 0 50px;
}

.info .phone {
	background-image: url('../img/phone.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
